* {
  box-sizing: border-box;
}

.body {
  position: relative;
}

.game-container {
  position: relative;
  max-width: 700px;
  height: auto;
  margin: 0px auto;
  border: 4px solid #cecece;
  background-color: #dcdcdc;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.game-header {
  height: 100px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.game-header__img {
  width: 70px;
  height: 70px;
  background-size: 80%;
  background-image: url('assets/icons/wink-emoji-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.game-header__img_loss {
  background-image: url('assets/icons/sad-svgrepo-com.svg');
}

.game-header__img_win {
  background-image: url('assets/icons/happy-svgrepo-com.svg');
}

.timer,
.moves-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer__state,
.moves-counter__state {
  width: 60px;
  height: 60px;
  border: 3px solid rgba(0, 0, 0, 0.368);
  color: black;
  background-color: #f5f5f5;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flags-counter__icon,
.mines-counter__icon {
  width: 25px;
  height: 25px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.flags-counter__icon {
  background-position: right;
  background-image: url('assets/icons/flag-maps-and-flags-svgrepo-com.svg');
}

.mines-counter__icon {
  background-image: url('assets/icons/bomb-svgrepo-com\ \(2\).svg');
}

.mines-counter__state {
  padding-left: 3px;
}

.game-field {
  margin: 0 auto;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.368);
}

.grid {
  max-width: 500px;
  max-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.grid_size-easy>.grid__cell,
.popup-container,
.popup-content__btn,
.popup-btn-close,
.actions__btn,
.game-header__img,
.actions__settings-btn {
  border-bottom: 4px solid #7B7B7B;
  border-left: 4px solid #ffffff;
  border-top: 4px solid #ffffff;
  border-right: 4px solid #7B7B7B;
}

.grid__cell,
.popup-content__btn,
.popup-btn-close,
.actions__btn,
.game-header__img,
.actions__settings-btn {
  background-color: #c1bfbf;
}

.grid_size-easy {
  max-width: 450px;
}

.grid_size-easy>.grid__cell {
  width: 42px;
  height: 42px;
  font-size: 20px;
}

.grid_size-medium>.grid__cell {
  width: 32px;
  height: 32px;
  border-bottom: 2px solid #7B7B7B;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #7B7B7B;
  font-size: 16px;
}

.grid_size-hard>.grid__cell {
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #7B7B7B;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #7B7B7B;
  font-size: 14px;
}

.grid__cell {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.grid__cell[flaged='true'] {
  background-image: url('assets/icons/flag-maps-and-flags-svgrepo-com.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.grid__cell[opened='true'] {
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: #bdbdbd;
}

.grid__cell[is-mine='true'][opened='true'],
.grid__cell[clicked-mine='true'] {
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-image: url('assets/icons/bomb-svgrepo-com\ \(2\).svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.grid__cell[is-mine='true'][opened='true'] {
  background-color: #bdbdbd;
}

.grid__cell[clicked-mine='true'] {
  background-color: #c907078c;
}

.grid__cell[number='1'][opened='true'] {
  color: blue;
}

.grid__cell[number='2'][opened='true'] {
  color: green;
}

.grid__cell[number='3'][opened='true'] {
  color: red;
}

.grid__cell[number='4'][opened='true'] {
  color: rgb(5, 5, 141);
}

.grid__cell[number='5'][opened='true'] {
  color: rgb(145, 5, 5);
}

.grid__cell[number='6'][opened='true'] {
  color: rgb(192, 10, 174);
}

.grid__cell[number='7'][opened='true'] {
  color: rgb(180, 122, 8);
}

.grid__cell[number='8'][opened='true'] {
  color: rgb(129, 7, 129);
}

.popup-wrapper {
  display: none;
}

.popup-wrapper_active {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100vw;
  display: flex;
  z-index: 100;
  transition: 0.4s;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.popup-container {
  font-size: 20px;
  max-width: 460px;
  height: auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  background-color: #f5f5f5;
  color: black;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 95%;
}

.popup-content_win {
  padding-left: 70px;
}

.popup-content_loss {
  padding-left: 60px;
}

.popup-content__img {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.popup-content_win>.popup-content__img {
  background-image: url('assets/icons/medal-reward-svgrepo-com.svg');
  background-size: 70%;
}

.popup-content_loss>.popup-content__img {
  background-image: url('assets/icons/refresh-svgrepo-com.svg');
  background-size: 60%;
}

.popup-content__btn {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  width: 300px;
  height: 50px;
  color: black;
}

.popup-content_win+.popup-btn-close {
  margin: 10px 10px 10px 45px;
}

.popup-content_loss+.popup-btn-close {
  margin: 10px 10px 10px 25px;
}

.popup-btn-close {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  width: 30px;
  height: 28px;
  background-image: url('assets/icons/cross-close-svgrepo-com.svg');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.popup-content__btn:active,
.popup-btn-close:active,
.actions__btn:active,
.actions__settings-btn:active,
.actions__btn_change-theme:active {
  background-size: 60%;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.popup-content_win>.popup-content__btn {
  margin-bottom: 25px;
  margin-top: 20px;
}

.popup-content_loss>.popup-content__btn {
  margin-top: 10px;
  margin-bottom: 25px;
}

.game-actions {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
  padding-bottom: 20px;
}

.actions__legend_size {
  font-weight: 500;
}

.actions__btn {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 180px;
  height: 40px;
  margin: 10px 0px 15px 0px;
}

.actions__btn_change-theme,
.actions__btn_mute-audio {
  width: 40px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.actions__btn_change-theme {
  background-image: url('assets/icons/invention-dark-svgrepo-com.svg');
}

.actions__btn_mute-audio {
  background-image: url('assets/icons/volume-speaker-svgrepo-com.svg');
}

.actions__btn_muted-audio {
  background-image: url('assets/icons/volume-audio-svgrepo-com.svg');
}

.actions__settings-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

@media (max-width: 534px) {
  .grid_size-hard>.grid__cell {
    width: 19.5px;
    height: 19.5px;
  }

  .grid__cell {
    border-bottom: 1px solid #7B7B7B;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #7B7B7B;
  }
}

@media (max-width: 510px) {
  .grid_size-hard>.grid__cell {
    width: 19px;
    height: 19px;
  }
}

/*dark theme */

.body_dark-theme {
  background-color: #61557b;
}

.game-container_dark-theme {
  background-color: rgba(29, 23, 54, 0.796);
  color: white;
  border: 4px solid rgba(29, 23, 54);
}

.actions__btn_dark-theme {
  background-image: url('assets/icons/invention-light-svgrepo-com.svg');
}

.game-header_dark-theme>.timer>.timer__state,
.game-header_dark-theme>.moves-counter>.moves-counter__state {
  background-color: #dce0e2;
}

.grid_dark-theme>.grid__cell {
  background-color: #9292a4;
  ;
  border-bottom: 4px solid #7c7981;
  border-left: 4px solid #eaeaeb;
  border-top: 4px solid #eaeaeb;
  border-right: 4px solid #7c7981;
}

.grid_dark-theme.grid_size-medium>.grid__cell,
.grid_dark-theme.grid_size-hard>.grid__cell {
  border-bottom: 2px solid #7c7981;
  border-left: 2px solid #eaeaeb;
  border-top: 2px solid #eaeaeb;
  border-right: 2px solid #7c7981;
}

.grid_dark-theme>.grid__cell[opened='true'],
.grid_dark-theme>.grid__cell[is-mine='true'][opened='true'],
.grid_dark-theme>.grid__cell[clicked-mine='true'] {
  border: 2px solid #7c7981;
}

.grid_dark-theme>.grid__cell[opened='true'] {
  background-color: #dce0e2;
}

.grid_dark-theme>.grid__cell[clicked-mine='true'] {
  background-color: #c907076d;
}

.grid_dark-theme.grid_size-hard>.grid__cell[opened='true'] {
  border: 1px solid #7c7981;
}